body{
    background-image: url(assets/backgrounds/1background.jpg);
    background-repeat: no-repeat;
    align-content: center;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}
.navitem{
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
}
.navitemsearch{
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    background: transparent;
    border: 1px solid white;
}
.section1 {
    background-size: cover;
    overflow: hidden;
}
.boldSlogan {
    font-weight: bold;
    font-size: 18px;
}
.section2 {
    padding: 50px;
}

.fastFood {
    padding: 20px;
    margin-left: 25px;
    text-align: left;
    font-family: sans-serif;
}

.fastFoodRow{
    display: flex;
}

.drinksInfoRow {
    display: flex;
    padding-top: 70px;
    font-family: sans-serif;
}
.fastFoodPhotos {
      padding: 20px;
      border: 2px solid rgba(211, 211, 211, 0.44);
      box-shadow: 2px 2px 30px 2px black;
      background-color: #005f689f;
      margin: auto;
      border-radius: 5px;
  }

button {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.drinksInfoPhotos{
    display: flex;
    padding: 20px;
    border: 2px solid rgba(211, 211, 211, 0.44);
    box-shadow: 2px 2px 30px 2px black;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 5px;
}
p{
    color: white;
    font-size: 13px;
}
.section3{
    width: 50%;
    margin-top: 100px;
    margin-left: 200px;
    background-color: rgba(128, 128, 128, 0.178);
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 40px;
}
.email{
    background: transparent;
    border: 0.5px solid grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
.submit{
    background: transparent;
    border: none;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.loginText{
    color: black;
    padding-top: 12px;
    font-size: 13px;
}
.textcontainer1{
    background-color: rgba(0, 0, 0, 0.331);
    padding: 5%;
    border-radius: 5px;
    margin-right: 30px;
}